# Data Types, Lists, Dictionaries

Staff : !!!!!!!!!
Support Material : !!!!!!!!
Support Sessions : !!!!!!!!

- integer, floating point
- converters: int, float
- operators: + - / * ** ...
- immutable

In [ ]:
5.0 + 3

In [ ]:
(5 + 3) ** 2

In [ ]:
type(5/3)

In [ ]:
type(0)

In [ ]:
float(3)

In [ ]:
int(3/2)  ### What is happening here?

In [ ]:
int('9')

In [ ]:
str(9)

<font size = "4">

### Basic Data Types: Booleans ###
- True, False
- converter: bool
- combination: and, or, not (operating left to right)
- immutable
</font>

In [ ]:
bool("True")

In [ ]:
bool(0)

In [ ]:
bool(3.14)

In [ ]:
bool("")

In [ ]:
True or False and not(True)

### Tests on other data types result in booleans ###

In [ ]:
3 < 5 and 6 >= 4

In [ ]:
'apple' < 'banana'

In [ ]:
'work' + 'ed' == 'worked'

### Exercises: guess what the output will be: ###

In [ ]:
True == False

In [ ]:
True = False

In [ ]:
True and not (False and True)

In [ ]:
True or not True

In [ ]:
banana

In [ ]:
25 or banana

In [ ]:
25 and banana

In [ ]:
x = 2
3 != 5 - x or not(bool(0)) or len("Bootcamp") == x * 4

In [ ]:
x < 5 and x > 1

In [ ]:
'cat' < 'dog'

In [ ]:
'inside' > 'insight'

### isinstance (x, y) ###

In [ ]:
type("apple")

In [ ]:
isinstance("apple", str)

<font size = "4">

### Basic Data Types: Strings ###
- converter: str
- functions: len, int
- methods: .count, .upper, .lower, .format, ...
- immutable
</font>

In [ ]:
x = 'bootcamp'
y = 'Bootcamp'
z = "bootcamp"

In [ ]:
x == y

In [ ]:
x == z

In [ ]:
her_string = "With quotes within quotes we can show a 'string within a string'!"
her_string

In [ ]:
print(her_string)

In [ ]:
his_string = 'Or we can \"escape\" quotes'
his_string

In [ ]:
print(his_string)

In [ ]:
my_string = '''With triple quotes
using single ' or double "
we can use strings over
multiple lines showing \\n as line break'''

In [ ]:
my_string

In [ ]:
print(my_string)

In [ ]:
our_string = 'We can also add \nnewlines directly in a string to \nhave line breaks in print'
our_string

In [ ]:
print(our_string)

In [ ]:
# \t does tabs
table = "c1\tc2\tc3\n12\t13\t14\n14\t13\t12"

In [ ]:
print(table)

In [ ]:
another_string = 'We can use the escape \ also to escape \\t and \\n and show it "literally"'
another_string

In [ ]:
print(another_string)

### Raw String (force to interpret \ as \\ ) ###

In [ ]:
another_string = r'We can use the raw string format to show \t and \n "literally"'
another_string

In [ ]:
print(another_string)

### String Functions and Methods ###

In [ ]:
text = "Across the narrow see."

In [ ]:
len(text)

In [ ]:
text.lower()

In [ ]:
text.upper()

In [ ]:
text.count('a')

In [ ]:
text.lower().count('a')

### .format for formatting strings ###

In [ ]:
result = 9
message = "I found {} mushrooms.".format(result)
message

In [ ]:
print(message)

In [ ]:
bad = 5
good = 7
print("I found {} poisonous and {} edible mushrooms.".format(bad, good))

In [ ]:
print("Proportion of poisonous is {:.2} \nProportion of edible is {:.2}".format(bad/(bad+good), good/(bad+good)))

<font size = "4">

### Basic Data Types: Lists ###
- A list is a datatype that can store any number of Python objects (numbers, strings, lists etc.)
- Enclosed between square brackets, elements separated by comma
- converter: list
- functions: len 
- test: in
- methods: .count, .pop, .insert, .append, .sort, .reverse, ...
- mutable
</font>

In [ ]:
my_list = list("bootcamp")
my_list

In [ ]:
another_list = [1, "pear", 3, [1, 2]]

In [ ]:
len(another_list)

In [ ]:
isinstance(list('pear'), list)

In [ ]:
len(my_list)

In [ ]:
list1 = [1, 2]
list2 = [3, 4]
list3 = [list1, list2]
list3

In [ ]:
list1 + list2*2

In [ ]:
my_list.count('o')

In [ ]:
my_list.insert(1, 'r')  # Changes my_list!
my_list

In [ ]:
my_list.pop(0)

In [ ]:
my_list

In [ ]:
my_list.append('s') # Changes my_list!
my_list

In [ ]:
my_list.remove('o')  # Changes my_list, only the first instance!
my_list

In [ ]:
my_list.sort()  # changes my_list !

In [ ]:
my_list

In [ ]:
another_list

In [ ]:
another_list.sort()

In [ ]:
another_list.reverse()

In [ ]:
another_list

In [ ]:
'pear' in another_list

<font size = "4">

### Indexing and Slicing Strings and Lists ###
- String and Lists are subtypes of the type Sequences
- They can be indexed and sliced
- [n1:n2] [start:end]
- zero-indexing (first element of a sequence has index 0)
</font>

In [ ]:
s1 = "The dead complain of their burial."
l1 = s1.split()
l2 = list(s1)
print(s1)
print(l1)
print(l2)

<img src="indexing.png" alt="Python indexing" title="Python indexing"  width=1000 />

In [ ]:
l1[0]

In [ ]:
s1[3]

In [ ]:
s1[1:3]

In [ ]:
l1[4:]

In [ ]:
s1[:5]

In [ ]:
l1[-2]

In [ ]:
l1[-2:]

In [ ]:
l1[:-3]

In [ ]:
# Handy to know

l1_reverse = l1[::-1]  # Does not change l1
print(l1_reverse)
print(l1)

In [ ]:
l1[0:5:2]  # There is a third value that can optionally be used indicating the "step"

### range(start:end:step) ###

In [ ]:
list(range(10))

In [ ]:
list(range(5,10))

In [ ]:
list(range(5,10,2))

<font size = "4">

### Basic Data Types: Tuples ###
- A tuple is a fixed sequence of elements that can store any number of Python objects (numbers, strings, lists, tuples etc.)
- Enclosed between round brackets, elements separated by comma
- Once created it cannot be changed
- converter: tuple
- functions: len 
- test: in
- can be indexed and sliced
- immutable
</font>

In [ ]:
l1 = [1, "two", [3]]
t1 = tuple(l1)
t1

In [ ]:
t1[0]

In [ ]:
t1[0:2]

In [ ]:
'two' in t1

<font size = "4">

### Basic Data Types: Dictionaries ###
- A dictionary is a set of key-value pairs mapping keys to values
- Each key should occur only once
- Enclosed between curly brackets, pairs separated by comma, key and value separated by colon
- converter: dict
- functions: len 
- test: in
- can be indexed and sliced and changed
- mutable
</font>

In [ ]:
d1 = {'bathrooms': 2, 'bedrooms': 3, 'area': 1000, 'habitable': 250, 'style': 'farmhouse'}

In [ ]:
d1['bedrooms']

In [ ]:
d1['bedrooms'] = 4

In [ ]:
d1

In [ ]:
'bathrooms' in d1  #only works for keys, not values

In [ ]:
d1.values()

In [ ]:
d1.keys()

### Mutability ###

<img src="datatypes.png" alt="Python datatypes" title="Python datatypes"  width=1000 />

In [ ]:
s1 = "The wonderful ice cream suit"
l1 = s1.split()
t1 = tuple(l1)
print(s1)
print(l1)
print(t1)

In [ ]:
l1[1] = 'terrible'
l1

In [ ]:
s1[0]

In [ ]:
s1[0] = 't'

In [ ]:
t1[1]

In [ ]:
t1[1] = 'awful'

In [ ]:
list1 = ['a', 'b', 'c']
tuple1 = (list1, 42, 'apes')

print(list1)
print(tuple1)

In [ ]:
list1.reverse()

print(list1)
print(tuple1)

### Exercises ###

- Homework: study Hammond Chapter 1 and 2
- Make the exercises of Hammond page 27-28