# Exercises on Python & Variables

These are 8 short exercises on variables.

Use this [notebook](https://github.com/dtaantwerp/dtaantwerp.github.io/blob/DTA_Bootcamp_2021_students/notebooks/02_W1_Tue_Python_and_Variables.ipynb) for a complete explanation of Python and variables.

1. Put this phone number in a variable 'phone_number'

0032 49 38 20 12 91

2. print the phone number using the variable

0032 49 38 20 12 91

3. Assign two numbers to variables

4. Add the above two number together and assign it to a variable

'0032 49 38 20 12 910032 49 38 10 12 92'

5. Assign a first name and a second name to variables.

6. Combine the name variables together so that they are a full name.

7. Print the full name using the variable.

Frank Lejour

8. Use the multiplication operator on a variable for a string.

'abcdeabcdeabcdeabcdeabcde'

## Extra

- Suppose the cover price of a book is 24.95 EUR, but bookstores get a 40 percent discount. Shipping costs 3 EUR for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies? Print the result in a pretty fashion, using casting where necessary!

In [6]:
# add code

945.4499999999999

- Can you identify and explain the errors in the following lines of code? Correct them please!

In [12]:
print("A message"). > the dot at the end doesn't serve a function
print("A message') > the quotation marks that enclose the string don't match (single vs. double)
print('A message"') > nothing is actually wrong with this: you can use double quotes inside single quotes and vice versa.

SyntaxError: invalid syntax (<ipython-input-12-765485e6722b>, line 1)

- When something is wrong with your code, Python will raise errors. [...] A good example is the `ZeroDivisionError`. Try to make Python throw such a ZeroDivisionError!

ZeroDivisionError: division by zero

- Write a little program that can compute the surface of circle, using the variables `radius` and `pi=3.14159`. The formula is of course radius, multiplied by radius, multiplied by `pi`. Print the outcome of your program as follows: 'The surface area of a circle with radius ... is: ...'.

The surface area of a circle with radius 6 is: 113.09724.

# Double Extra

No need to do this, just incase you want to get some extra practice in

### Exercise 1: 
Use Python as a calculator to calculate the number of seconds in seven years (in one line of code). Assign the output to a variable with a clear variable name. Print the result.

In [8]:
# your code here

### Exercise 2: 
Rewrite the code you wrote for exercise 1 by assigning each of the numerical values to a variable with a clear name. Then use these variables to calculate the number of seconds in seven years. We've made a start for you below:

In [ ]:
days_in_year = 365
# assign each of the values to meaningful variable names

seconds_in_seven_years = days_in_year * # finish this line
print(seconds_in_seven_years)

### Exercise 3: 
Run the following code block and see what happens. Can you fix the invalid variable names? You should get no error in the end.

In [ ]:
eggs = 3
_eggs = 6
5eggs = 5
eggs$ = 1
eggs123 = 9
ten_eggs = 10
TwelveEggs = 8
twelve.eggs = 12

### Exercise 4: 
Can you write some code that swaps the values of these two variables? Hint: create an extra variable.

In [15]:
first_number = 3
second_number = 5

5 3

### Exercise 5: 

The following piece of code will not work. You can see this, because it will print an error message (more on this in the following chapters). Can you figure out how to fix it?

Hint 1: Look at the quote (') characters.
Hint 2: You can use single quotes (') and double quites(") to define strings.

In [ ]:
my_text = 'The word 'python' has many meanings in natural language. '