# Control structures: for, while, break, continue

**Staff**: Jens Lemmens

**Support material**: Class [notebook](https://github.com/dtaantwerp/dtaantwerp.github.io/blob/master/notebooks2021/6_Week1_Friday_Control_structures__Loops__for__while____.ipynb)

## 1. Numbers

#### Exercise 1: Create a list of numbers from 0 to 100 using "range()"

In [21]:
x = list(range(0,101))

#### Exercise 2: Using a loop, print all numbers in the list created in exercise 1

In [2]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

#### Exercise 3: Print all the even numbers in the list from exercise 1

In [3]:
for i in x:
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

#### Exercise 4: Print all numbers that are divisible by 2 and 5 in the list from exercise 1

In [4]:
for i in x:
    if i%2==0 and i%5==0:
        print(i)

0
10
20
30
40
50
60
70
80
90
100

#### Exercise 5: Print all numbers smaller than 100 that are divisible by 7  in the list from exercise 1 (use a while-loop)

In [5]:
x = 0
while x < 100:
    if x%7 == 0:
        print(x)
    x += 1

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

#### Exercise 6: Print all numbers larger than 10, but smaller than 20 in the list from exercise 1

In [27]:
for i in x:
    if 10 < i < 20:
        print(i)
    if i >= 20:
        break

11
12
13
14
15
16
17
18
19

#### Exercise 7: Print a sequence of Fibonacci numbers lower than 100. 
A Fibonnaci sequence is a series of numbers that equal the sum of the two previous numbers in the Fibonnaci sequence (e.g. if the sequence starts with 0 and 1, the next numbers in the sequence are 1 (0+1), 2 (1+1), 3 (2+1), 5 (3+2), 8 (5+3), etc.). To start, set two variables to 0 and 1, and then complete the sequence.

In [6]:
second_to_last = 0
last = 1

print(second_to_last)
print(last)

while second_to_last+last < 100:
    fibonacci = second_to_last + last
    print(fibonacci)
    second_to_last = fibonacci-second_to_last
    last = fibonacci

0
1
1
2
3
5
8
13
21
34
55
89

## 2. Words

#### Below you can find a toy corpus consisting of the opening lines of the first Harry Potter novel.

In [7]:
corpus = ["""Mr. and Mrs. Dursley, of number four, Privet Drive, were proud to say that they were perfectly normal, 
thank you very much.""", """They were the last people you’d expect to be involved in anything strange or mysterious,
because they just didn’t hold with such nonsense.""", """Mr. Dursley was the director of a firm called Grunnings,
which made drills.""", """He was a big, beefy man with hardly any neck, although he did have a very large mustache.""",
"""Mrs. Dursley was thin and blonde and had nearly twice the usual amount of neck, 
which came in very useful as she spent so much of hertime craning over garden fences, spying on the neighbors.""", 
"""The Dursleys had a small son called Dudley and in their opinion there was no finer boy anywhere."""]

#### Exercise 1: Count the number of capitalized letters in the entire corpus

In [8]:
n_capital = 0
for s in corpus:
    for c in s:
        if c.isupper():
            n_capital +=1
print(n_capital)

15

#### Exercise 2: Count all words in the corpus.

In [9]:
n_words = 0
for s in corpus:
    for t in s.split():
        n_words +=1
print(n_words)

129

#### Exercise 3: Count the number of occurrences of the tokens "Mr.", "Mrs." and "Dursley" (pt. 1)
Create three variables that will keep track of the number of occurences of the tokens

In [10]:
# This exercise should be done with regular expressions,
# but you can use loops now just for the sake of practicing loops
n_mr = 0
n_mrs = 0
n_dursley = 0

for s in corpus:
    for t in s.split():
        if t == "Mr.":
            n_mr += 1
        elif t == "Mrs.":
            n_mrs += 1
        elif t == "Dursley":
            n_dursley += 1
            
print(n_mr)
print(n_mrs)
print(n_dursley)

2
2
2

#### Exercise 4: Count the number of occurrences of the tokens "Mr.", "Mrs." and "Dursley" (pt. 2)
Use a dictionary with the words as keys and the number of occurences as values

In [11]:
counts = {"Mr.": 0, "Mrs.": 0, "Dursley": 0}

for s in corpus:
    for t in s.split():
        if t == "Mr.":
            counts["Mr."] += 1
        elif t == "Mrs.":
            counts["Mrs."] += 1
        elif t == "Dursley":
            counts["Dursley"] += 1
            
print(counts)

{'Mr.': 2, 'Mrs.': 2, 'Dursley': 2}

#### Exercise 5: Print the average number of words per sentence

In [12]:
n_words = 0
n_sentences = 0
for s in corpus:
    n_sentences += 1
    for t in s.split():
        n_words += 1
print(n_words/n_sentences)

21.5

## 3. Cooking pancakes

#### Below you can find a shopping list for pancakes

In [13]:
shopping_list = ['flour', 'sugar', 'eggs', 'milk', 'butter', 'vanilla']

#### Exercise 1: Print a shopping list
- Loop over the items in the shopping list
- Print all items
- Use "continue" to skip the eggs; you still have eggs at home

In [14]:
for item in shopping_list:
    if item == 'eggs':
        continue
    print(item)

flour
sugar
milk
butter
vanilla

#### Exercise 2: Time to cook! 
- Loop over the ingredients
- Print "Add {ingredient} to bowl"
- Skip the milk for now using "continue"

In [15]:
for item in shopping_list:
    if item == 'milk':
        continue
    print(f"Add {item} to bowl")

Add flour to bowl
Add sugar to bowl
Add eggs to bowl
Add butter to bowl
Add vanilla to bowl

#### Exercise 3: Add the milk in steps of 100ml
- First create a variable that says how much ml you added (starting with 0)
- Initiate a loop that stops of you added 450ml of milk or more
- Use the loop to add milk in steps of 100ml
- At each step, test whether you used more than 450ml in total
- Break the loop if this is the case and print "You used too much milk!"

In [16]:
milk_added = 0
while milk_added <= 450:
    milk_added += 100
    if milk_added > 450:
        print('You used too much milk!')

You used too much milk!