# Exercise notebook 1 - Python and variables

This Exercise notebook complements the Chapter on *python and variables*. <br>
Try to prepare the <ins>underlined exercises </ins> for the exercise sessions.

1. <ins>create a variable called first_name, and put your own name as value.

In [2]:
first_name = 'Mona'

2. <ins> Print the variable 'first_name' using the print function. </ins>

In [3]:
print(first_name)

Mona

3. <ins>Create another variable 'last_name' and add your surname as a value. Concatenate the two strings and add this to a variable 'full_name'. <br> *Make sure that your first name and surname are divided by a whitespace* </ins>

In [92]:
last_name = 'Allaert'
full_name = first_name + ' ' + last_name
print(full_name)

Mona Allaert

4. <ins> Create two more variables 'x' and 'y' and assign a number to each variable. </ins>

In [93]:
x = 3
y = 9

5. <ins>Multiply the above two numbers together using their variables and store the result into a new variable. <br>Print the new variable to check if the multiplication worked.</ins>

In [94]:
a = x * y
print(a)

27

6. <ins> Use the same multiplication method to repeat *a string* several times.</ins>

In [1]:
print('repeat_' * 5)

repeat_repeat_repeat_repeat_repeat_

7. <ins>Change the cell so that output will be 'True'

In [3]:
x = 12
y = 3*4
x == y

True

8. <ins> Can you explain why an error occurs when running the cell below and fix the error(s)? </ins>

In [97]:
my-name = 'Tommy' #you cannot use hyphens in variable-names. Only underscores -> my_name
river_fish_ = 'herring' #this one is fine
300 = 'number of Spartans' #the variable name cannot begin with an integer -> nr300 would work
Equals10 = 15 #This one is fine
"age" = 46 #The variable name should not be between quotation marks
Time = 'Noon" #change the quotation marks so that they are either both double quotations, or both single quotations.
Cruise = Hardy = Hanks = 'Tom' #this one is fine

SyntaxError: cannot assign to operator (1907164666.py, line 1)

9. <ins> There are 94 taken seats in the cinema. 46 of the seats are taken by students, who only have to pay 8,5 euros entry. <br>The rest has to pay 10.50 euros. How much would it cost to pay for everyone's ticket? <ins>

In [98]:
total_seats = 94
student_seats = 46
student_price = 8.5
adult_price = 10.5


result = (students_seat * student_price) + ((total_seats - students_seat) * adult_price)
print(result)

895.0

## Additional exercises

These are extra. You do not need to prepare them for the exercise session.

10. Suppose the cover price of a book is 24.95 EUR, but bookstores get a 40 percent discount. Shipping costs 3 EUR for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies? Print the result in a pretty fashion, using casting where necessary!

In [99]:
cover_price = 24.95
discount = cover_price - (cover_price/100 * 40)
first_shipping = 3
shipping = 0.75
copies = 60

cost = discount + first_shipping + (59*(discount + shipping))
print(cost)

945.4499999999999

11. Can you identify and explain the errors in the following lines of code? Correct them please!

In [100]:
print("A message"). # the dot at the end doesn't serve a function
print("A message'')  # the quotation marks that enclose the string don't match (single vs. double)
print('A message"') # nothing is actually wrong with this: you can use double quotes inside single quotes and vice versa.

SyntaxError: invalid syntax (3842681979.py, line 1)

12. Calculate the surface of a circle with a radius of 6. The formula is radius times radius times pi (3.14159).

In [101]:
radius = 6
pi = 3.14159

surface = radius * radius * pi
surface

113.09724

13. Use Python as a calculator to calculate the number of seconds in seven years (in one line of code). Assign the output to a variable with a clear variable name. Print the result

In [102]:
seconds_in_seven_years = (60 * 60 * 24) * 365 * 7
seconds_in_seven_years

220752000

14. Assign a number to the variable 'temperature'. Make sure you can print the statement "it is ? degrees today" using the variable.

In [103]:
temperature = 9

print('it is', temperature, 'degrees today')

it is 9 degrees today

15. Can you write some code that swaps the values of these two variables? Hint: create an extra variable.

In [104]:
first_number = 3
second_number = 5

temp = second_number
second_number = first_number
first_number = temp

16. Can you explain why the first cell below runs, and the second doesn't. Change the cells to make sure the error no longer occurs.

In [105]:
brother = 'Hansel '
sister = 'Gretel'
siblings = brother + sister
siblings

'Hansel Gretel'

In [88]:
amount = 12
animals = ' monkeys'
movie_title = amount + animals
movie_title

TypeError: unsupported operand type(s) for +: 'int' and 'str'

17. Print the first_name and last_name variables you created in an earlier exercise using only one print statement.

In [106]:
print(first_name, last_name)

Mona Allaert

18. Think about the output before running it. What do you think this cell will return?

In [5]:
x = 3
y = 15

b = y
y = x
x = b - 1

print(b)
print(y)
print(x)

15
3
14

19. A bit of math. Add brackets to change the value of x so that the statement returns True.

In [5]:
x = 15 - 6 * 2 - (1 + 2)

x == 0

True

20. There are 10 books that will be evenly divided among 3 students. Can you create a python cell to in which you calculate how many books will be left after the even division. TIP: look online to check what the % -operator does.

In [6]:
books = 10
students = 3
result = books % students
result

1

Bonus: can you try to recreate the previous exercise, without using the %-operator? Change the number of books to check if it worked.

In [7]:
result = books - (int(books/students) * students)
result

1