In [4]:
5 * 5

25

In [7]:
a = 5 * 5

In [8]:
10 # constant

10

In [9]:
print(a)

25

In [11]:
a = 15
print(a)

15

In [14]:
a = """adg
dgdg"""

In [15]:
print(a)

adg
dgdg

In [23]:
a = True
type(a)

bool

In [28]:
l = [5, False, 8.2, 's']
type(l)

list

In [48]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l[7] = 'xxx'
print(l)
l[7] = '8'
print(l)

[1, 2, 3, 4, 5, 6, 7, 'xxx', 9, 10]
[1, 2, 3, 4, 5, 6, 7, '8', 9, 10]

In [55]:
print(l[6])

7

In [64]:
l

(1, 2, 3, 4, 5, 6, 7, '8', 9, 10, 11)

In [49]:
l.append(11)
print(l)

[1, 2, 3, 4, 5, 6, 7, '8', 9, 10, 11]

In [52]:
# tuple
l = tuple(l)
type(l)
print(l)
len(l)

(1, 2, 3, 4, 5, 6, 7, '8', 9, 10, 11)

11

In [54]:
l.append(11)

AttributeError: 'tuple' object has no attribute 'append'

In [67]:
d = {'Mike': 34, 'Tom': 16, 'Lisa': 23}
type(d)
# indexation
l[9]
d['Mike']

34

In [75]:
d.keys()
d.values()
d.items()

tuple

In [77]:
d['Mike'] = 99
print(d)

{'Mike': 99, 'Tom': 16, 'Lisa': 23}

In [80]:
type(d)
len(d)

3

In [83]:
print(1)
print(2)
print(3)
print(4)

1
2
3
4

In [108]:
a = -1
if (a < 10): # conditional clause or boolean expression
    print('a is smaller than 10') # indented
    if a < 0:
        print('a is negative')
elif a == 10:
    print('a is identical to 10')
else:
    print('a is larger than 10') # indented

a is smaller than 10
a is negative

In [106]:
print(a > 10)
print(a < 10)
print(a == 10) # this is NOT the assignment operator (=)
print(a != 10)

False
False
True
False

In [115]:
numbers = tuple([1, 2, 3, 4, 5]) # iterables

for banana in numbers:
    print(banana)

1
2
3
4
5

In [126]:
# casting
a = '5'
a = int(a)
a = float(a)
a = str(a)
print(a)
print(type(a))
a = int(a[0])
type(a)

5.0
<class 'str'>

int

In [131]:
bool('')

False

In [132]:
l = ['m', 'f', 'f', 'y', 'z', '9']
print(l)

['m', 'f', 'f', 'y', 'z', '9']

In [138]:
len(l)

6

In [139]:
cnt = 0

for character in l:
    cnt = cnt + 1

print(cnt)

6

In [148]:
sentence = "I don't know"

o_cnt = 0

for character in sentence:
    if character == 'o':
        o_cnt += 1
    print('current:', o_cnt)

print('final:', o_cnt)

current: 0
current: 0
current: 0
current: 1
current: 1
current: 1
current: 1
current: 1
current: 1
current: 1
current: 2
current: 2
final: 2

In [154]:
# frequency distribution

s = """Alice was beginning to get very tired of sitting by her sister on the
bank, and of having nothing to do: once or twice she had peeped into
the book her sister was reading, but it had no pictures or
conversations in it, “and what is the use of a book,” thought Alice
“without pictures or conversations?”

So she was considering in her own mind (as well as she could, for the
hot day made her feel very sleepy and stupid), whether the pleasure of
making a daisy-chain would be worth the trouble of getting up and
picking the daisies, when suddenly a White Rabbit with pink eyes ran
close by her.

There was nothing so _very_ remarkable in that; nor did Alice think it
so _very_ much out of the way to hear the Rabbit say to itself, “Oh
dear! Oh dear! I shall be late!” (when she thought it over afterwards,
it occurred to her that she ought to have wondered at this, but at the
time it all seemed quite natural); but when the Rabbit actually _took a
watch out of its waistcoat-pocket_, and looked at it, and then hurried
on, Alice started to her feet, for it flashed across her mind that she
had never before seen a rabbit with either a waistcoat-pocket, or a
watch to take out of it, and burning with curiosity, she ran across the
field after it, and fortunately was just in time to see it pop down a
large rabbit-hole under the hedge."""

In [155]:
print(s[:10])

Alice was

In [161]:
s = s.lower() 

d = {}
for c in s:
    if c in d:
        d[c] += 1
    else:
        d[c] = 1

print(d)

{'a': 87, 'l': 30, 'i': 78, 'c': 28, 'e': 125, ' ': 232, 'w': 28, 's': 59, 'b': 25, 'g': 19, 'n': 60, 't': 118, 'o': 79, 'v': 10, 'r': 66, 'y': 16, 'd': 44, 'f': 19, 'h': 73, '\n': 22, 'k': 13, ',': 18, ':': 1, 'p': 14, 'u': 31, '“': 3, '”': 3, '?': 1, 'm': 9, '(': 2, ')': 2, '-': 4, '.': 2, '_': 6, ';': 2, '!': 3, 'q': 1, 'j': 1}

In [162]:
for k in sorted(d):
    print(k, d[k])

 22
  232
! 3
( 2
) 2
, 18
- 4
. 2
: 1
; 2
? 1
_ 6
a 87
b 25
c 28
d 44
e 125
f 19
g 19
h 73
i 78
j 1
k 13
l 30
m 9
n 60
o 79
p 14
q 1
r 66
s 59
t 118
u 31
v 10
w 28
y 16
“ 3
” 3