### Which one of these returns the average age for all adult men in the titanic dataset

#### 1

In [39]:
df[(df["Sex"] == 'male') & (df["Age"] > 18)]['Age'].mean()

34.480366492146594

#### 2

In [40]:
df[df["Sex"] == 'male' & df["Age"] > 18]['Age'].mean()

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]

#### 3

In [42]:
df[(df["Sex"] == 'male') & (df["Age"] > 18)]['Age'].mean().plot()

#### 4

In [ ]:
df[(df["Sex"] is 'male' df("Age") > 18)].Age.mean()