In [2]:
import pandas as pd

# Which one of these does not equal 4?

In [3]:
df = pd.DataFrame({'a':[3,8],'b':[5,7]})
print(df)

   a  b
0  3  5
1  8  7

#### 1

In [8]:
df.loc[0].mean()

4.0

#### 2

In [11]:
df.iloc[0]['a'] + 1

4

#### 3

In [13]:
df['a']

0    3
1    8
Name: a, dtype: int64

#### 4

In [15]:
df.iloc[1]['a']/2

4.0

# How many of these line return the string 'hello world'?

In [17]:
df = pd.DataFrame({'a':['hello','world'],'b':['world','hello']})

In [18]:
print(df)

       a      b
0  hello  world
1  world  hello

In [24]:
df.iloc[0]['a'] + ' world'

'hello world'

In [33]:
def add_world(x):
    return x + ' world'

df['a'].apply(add_world)[0]

'hello world'

In [37]:
df['b'].str.replace('world', 'hello world')[0]

'hello world'

In [20]:
print(df['a'][0] + ' ' + df['a'][1])

hello world
hello world
hello world
hello world

#### 1
all of them
#### 2
none of them
#### 3
two of them
#### 4
one of them