# 2020 Digital Text Analysis Bootcamp : Practical Exam 

Welcome to the practical exam. Below are a number of questions that test the skills you've learnt during the bootcamp. The 

Guidelines:

- You have **2 hours** to complete the exam.
- This is an **open book exam**. You may use the web or any other resources to assist you. 
- This exam will be followed by a one-to-one interview, where you will be given the chance to show your understanding of python. 

Marking:

- *basic*: you should be able to solve these entirely.(1 points)
- *intermediate*: you should be able to solve these to a reasonable extent (i.e. at least make a start) (2 points)
- *hard*: you might not even reach these, but this is where you can get extra points. (3 points)
- Points can be gained for **partial answers**.

Tips:

- This exam does not ask you to show skills that you have not learn during the bootcamp. Keep it simple, keep it familiar. 
- Use notes to plan your answers.
- Use `print` statements to explore the data and debug your code.
- Show us the steps of the process that you **do** understand, even if you can't complete the process fully.
- In python there is no `NoCodeError`, so don't stare at empty cells

# 0. Importing Packages

Repair the import statements so that all the packages can be appropriately imported and used in the following cell.

N.B. The second cell should print`True` twice. You should only alter the first cell.

Basic: 1 point

Expected Output:
```
True
True
```

In [ ]:
# fix this code
import mean from numpy as np
from pandas import pd # 1 point

In [ ]:
# You do not need to edit this code
print(4 == np.mean([3,5]))
print(read_csv('data/titanic.csv').iloc[0]['PassengerId'] == 1)
# If the packages above are imported correctly, this cell will print True twice.

# 1. For loops

Use a for loop to remove the odd numbers from this list of numbers.
Use function decomposition where possible for extra marks.

Basic: 1 point

Expected outpput:

```
[2, 4]
```

In [ ]:
numbers = [1,2,3,4,5]

# code here

[2, 4]

# 2. Regular Expressions

Write a regular expression that extracts consecutive sequences of 2 or more **capitalized words** from a sentence. Use the method `re.finditer`

Intermediate: 2 points

Example Output:
```
<_sre.SRE_Match object; span=(22, 34), match='Mike Hammond'>
<_sre.SRE_Match object; span=(58, 77), match='Tilia Maria Cordata'>
```

In [11]:
import re
text = 'The first speaker was Mike Hammond. He was interrupted by Tilia Maria Cordata from FWO'

# code here

# 3. Strings
Write a cell that counts the number of a times one string `'na'` appears in another string `'banana'` and prints the result: `The string 'banana' contains 'na' 2 times!`. Use the `string.count()` method and `string.format()` method.

Basic : 1 point

Example Output:

```
The string 'banana' contains 'na' 2 times!

```

In [ ]:
s = "banana"
sub_s = "na"

# code here

# 4. While loops

Use a `while` loop to build a 'text reader' for `alice.txt`. Your code should open the file, record the position, and print one line of the file every time the user inputs 'y'. If the user inputs anything else, the reader should stop.

You should use the functions : `open`, `readlines`, and `input`.

Basic : 1 point

Example output:

```
More text?y
*This 30th edition should be labeled alice30.txt or alice30.zip.

More text?n

```

In [10]:
with open('data/alice.txt', 'r') as f:
    text = f.readlines()

pos = 0

# code here

# 5. Word Frequency

1. Read in the file `data/oliver.txt` and produce a character-level frequency dictionary that only consists of the punctuation symbols defined in the `string` module method `string.punctuation` (https://docs.python.org/3/library/string.html).

2. Write away the results (i.e. word-frequency pairs) to a file called `freqs.tsv` (a tab-separated file; see output below). You should use a tab (`\t`) character to separate values. 

You should use the functions/ methods: `open` and `string.punctuation`.

tip. Remember to open the file in 'write' mode, when you want to write to it. i.e. `open('freqs.tsv', 'w')`

Basic : 1 point

In [ ]:
import string

punct = string.punctuation

# code here

No inverse sorting:

```text
,	16110
'	11236
.	8053
;	2635
-	2620
!	1447
?	1014
:	644
_	228
"	90
(	75
)	75
*	15
[	1
]	1
```

# 6. Advanced String Manipulation

The file `data/oeuvre.csv` contains bibliographic data in a comma-separated format. The first line is a header which contains the names for all columns:
1. The file contains two **syntactic errors** against the CSV conventions: identify and correct these before moving forward. The errors will need to be edited in the `csv` file itself using your operating system's text-editor.
2. Load the lines from the file but ignore the header in the first line.
3. Create a list (called `data`) consisting of dictionaries for each row of the csv. Each `dict` should contain key:value pairs that map the column name to the corresponding cell value in that row. Below, we print what the resulting list of dictionaries should look like.

Hard! : 3 points

Example output:

```json
[{'title': "Harry Potter and the Philosopher's Stone",
  'year': '1997',
  'series': 'Harry Potter',
  'author': 'J.K. Rowling'},
 {'title': 'Harry Potter and the Chamber of Secrets',
  'year': '1998',
  'series': 'Harry Potter',
  'author': 'J.K. Rowling'},
 {'title': 'Harry Potter and the Prisoner of Azkaban',
  'year': '1999',
  'series': 'Harry Potter',
  'author': 'J.K. Rowling'},
 {'title': 'Harry Potter and the Goblet of Fire',
  'year': '2000',
  'series': 'Harry Potter',
  'author': 'J.K. Rowling'},
 {'title': 'Harry Potter and the Order of the Phoenix',
  'year': '2003',
  'series': 'Harry Potter',
  'author': 'J.K. Rowling'},
 {'title': 'Harry Potter and the Half-Blood Prince',
  'year': '2005',
  'series': 'Harry Potter',
  'author': 'J.K. Rowling'},
 {'title': 'Harry Potter and the Deathly Hallows',
  'year': '2007',
  'series': 'Harry Potter',
  'author': 'J.K.'},
 {'title': "The Cuckoo's Calling",
  'year': '2013',
  'series': 'Cormoran Strike',
  'author': 'Robert Galbraith'},
 {'title': 'The Silkworm',
  'year': '2014',
  'series': 'Cormoran Strike',
  'author': 'Robert Galbraith'},
 {'title': 'Career of Evil',
  'year': '2015',
  'series': 'Cormoran Strike',
  'author': 'Robert Galbraith'},
 {'title': 'Lethal White',
  'year': '2018',
  'series': 'Cormoran Strike',
  'author': 'Robert Galbraith'},
 {'title': 'Troubled Blood',
  'year': '2020',
  'series': 'Cormoran Strike',
  'author': 'Robert Galbraith'}]
```

In [ ]:
# code here

# 7. Dictionaries 
Use the dictionary of emoticons to detect the sentiment in the tweets text.

1. Instantialize a dictionary that maps emoticons :), :(, :>, :') to sentiment values 1, -1, 1, -1. 
2. Load the data from the file "tweets.txt" which contains a (fake) tweet on every line.
3. Write a function that takes a line from the file (tweet) and the emoticon dictionary as parameters and returns the average sentiment in the tweet

Intermediate: 2 points

example output:

```
-1.0
1.0
-1.0
1.0
0
-1.0
1.0
1.0
-1.0
-1.0
```

In [1]:
sentiment = {":)": 1, ":(": -1, ":>": 1, ":')": -1}

# code here

# 8. Data Structures with pandas

Use the pandas package to adapt the `oeuvre` list.
1. Convert the list into a Dataframe.
2. Remove 'Harry Potter and the ' from all of the titles using the method `pd.Series.str.replace`.

Example Output:

```
                   title  year           series            author
0    Philosopher's Stone  1997     Harry Potter      J.K. Rowling
1     Chamber of Secrets  1998     Harry Potter      J.K. Rowling
2    Prisoner of Azkaban  1999     Harry Potter      J.K. Rowling
3         Goblet of Fire  2000     Harry Potter      J.K. Rowling
4   Order of the Phoenix  2003     Harry Potter      J.K. Rowling
5      Half-Blood Prince  2005     Harry Potter      J.K. Rowling
6        Deathly Hallows  2007     Harry Potter      J.K. Rowling
7   The Cuckoo's Calling  2013  Cormoran Strike  Robert Galbraith
8           The Silkworm  2014  Cormoran Strike  Robert Galbraith
9         Career of Evil  2015  Cormoran Strike  Robert Galbraith
10          Lethal White  2018  Cormoran Strike  Robert Galbraith
11        Troubled Blood  2020  Cormoran Strike  Robert Galbraith
```

Show the duration of each series in the Dataframe.
1. Convert the year column to an integer using the `Series.apply` method and the `int` function.
2. Group the Dataframe based on years using the `df.groupby` function.
3. Calculate the duration of the series column by using the `Series.min' and `Series.max' methods. 

Example Output:

```
Cormoran Strike     7
Harry Potter       10
```

Hard 3 points

In [9]:
import pandas as pd
oeuvre = [{'title': "Harry Potter and the Philosopher's Stone",
  'year': '1997',
  'series': 'Harry Potter',
  'author': 'J.K. Rowling'},
 {'title': 'Harry Potter and the Chamber of Secrets',
  'year': '1998',
  'series': 'Harry Potter',
  'author': 'J.K. Rowling'},
 {'title': 'Harry Potter and the Prisoner of Azkaban',
  'year': '1999',
  'series': 'Harry Potter',
  'author': 'J.K. Rowling'},
 {'title': 'Harry Potter and the Goblet of Fire',
  'year': '2000',
  'series': 'Harry Potter',
  'author': 'J.K. Rowling'},
 {'title': 'Harry Potter and the Order of the Phoenix',
  'year': '2003',
  'series': 'Harry Potter',
  'author': 'J.K. Rowling'},
 {'title': 'Harry Potter and the Half-Blood Prince',
  'year': '2005',
  'series': 'Harry Potter',
  'author': 'J.K. Rowling'},
 {'title': 'Harry Potter and the Deathly Hallows',
  'year': '2007',
  'series': 'Harry Potter',
  'author': 'J.K. Rowling'},
 {'title': "The Cuckoo's Calling",
  'year': '2013',
  'series': 'Cormoran Strike',
  'author': 'Robert Galbraith'},
 {'title': 'The Silkworm',
  'year': '2014',
  'series': 'Cormoran Strike',
  'author': 'Robert Galbraith'},
 {'title': 'Career of Evil',
  'year': '2015',
  'series': 'Cormoran Strike',
  'author': 'Robert Galbraith'},
 {'title': 'Lethal White',
  'year': '2018',
  'series': 'Cormoran Strike',
  'author': 'Robert Galbraith'},
 {'title': 'Troubled Blood',
  'year': '2020',
  'series': 'Cormoran Strike',
  'author': 'Robert Galbraith'}]
# code here

series
Cormoran Strike     7
Harry Potter       10
Name: year, dtype: int64

# 8. Web Scraping

Use the `urlib.request.urlopen` method to open the webpage 'https://en.wikipedia.org/wiki/Antwerp', and the `BeautifulSoup` package to parse the headings `['h1','h2','h3','h4','h5']` from the page. Your code should record all the headings in a `list`.

You will need to use the functions/ methods : `request.urlopen`, `find_all`, `append`


tip. Remember that you can give multiple tags to `find_all` e.g. `bs.find_all(['h1','h2','h3','h4','h5'])`

Intermediate : 2 points

Example output :

```
First ten headings:
Antwerp
Contents
History[edit]
Origin of the name[edit]
Pre-1500[edit]
16th century[edit]
Reformation era[edit]
Dutch revolt[edit]
17th–19th centuries[edit]
20th century[edit]
```

In [2]:
from bs4 import BeautifulSoup
from urllib import request

html = request.urlopen('https://en.wikipedia.org/wiki/Antwerp')

# code here

# 9. Data Visualisation

Use the pandas package to create a bar plot of the average age for each class. Your code should use the functions/methods `read_csv`,`groupby`,`mean`, and `plot`. You will need to specify `kind`

Intermediate : 2 points

![average age plot]()

In [3]:
# code here

# Bonus Question for the Boffins

This question will not be marked, but if you wish to test out your numpy, give it a try:

Suppose there are two supermarkets in the neighbourhood: Delhaize and Lidl. We would like to buy two different sets of products: 

- set 1: 1kg of potatoes, 2kg of carrots, 3kg of apples, 2kg of tomatoes
- set 2: 3kg of potatoes, 4kg of carrots, 1kg of apples, 1kg of tomatoes
- Prices in Delhaize: potatoes = 2.1 €/kg, carrots = 1.0 €/kg, apples = 3.0 €/kg, tomatoes = 5.0 €/kg
- Prices in Lidl: potatoes = 1.9 €/kg, carrots = 2.0 €/kg, apples = 2.5 €/kg, tomatoes = 3.0 €/kg

Using the numpy package, create two matrices and use a dot product to calculate the cost of each set of products in each supermarket.

In [ ]:
import numpy as np
set_1 = [1, 2, 3, 2]
set_2 = [3, 4, 1, 1]
potatoes = [2.1, 1.9]
carrots = [1.0, 2.0]
apples = [3.0, 2.5]
tomatoes = [5.0, 3.0]

# code here

[[23.1 19.4]
 [18.3 19.2]]

In which supermarket set 1 is cheaper?

In which supermarket set 2 is cheaper?