# Exercise notebook 1 - Python and variables

This Exercise notebook complements the Chapter on *python and variables*. <br>
Try to prepare the <ins>underlined exercises </ins> for the exercise sessions.

1. <ins>create a variable called first_name, and put your own name as value.

In [7]:
#code here

2. <ins> Print the variable 'first_name' using the print function. </ins>

In [8]:
#code here

3. <ins>Create another variable 'last_name' and add your surname as a value. Concatenate the two strings and add this to a variable 'full_name'. <br> *Make sure that your first name and surname are divided by a whitespace* </ins>

In [9]:
#code here

4. <ins> Create two more variables 'x' and 'y' and assign a number to each variable. </ins>

In [10]:
#code here

5. <ins>Multiply the above two numbers together using their variables and store the result into a new variable. <br>Print the new variable to check if the multiplication worked.</ins>

In [11]:
#code here

6. <ins> Use the same multiplication method to repeat *a string* several times.</ins>

In [12]:
#code here

7. <ins>Change the cell so that output will be 'True'

In [13]:
x = '12'
y = 3*4
x == y

False

8. <ins> Can you explain why an error occurs when running the cell below and fix the error(s)? </ins>

In [14]:
my-name = 'Tommy'
river_fish_ = 'herring' 
300 = 'number of Spartans' 
Equals10 = 15 
"age" = 46 
Time = 'Noon" 
Cruise = Hardy = Hanks = 'Tom'

SyntaxError: cannot assign to operator (4186080444.py, line 1)

9. <ins> There are 94 taken seats in the cinema. 46 of the seats are taken by students, who only have to pay 8,5 euros entry. <br>The rest has to pay 10.50 euros. How much would it cost to pay for everyone's ticket? <ins>

In [15]:
total_seats = 94
student_seats = 46
student_price = 8.5
adult_price = 10.5


#code here

## Additional exercises

These are extra. You do not need to prepare them for the exercise session.

10. Suppose the cover price of a book is 24.95 EUR, but bookstores get a 40 percent discount. Shipping costs 3 EUR for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies? Print the result in a pretty fashion, using casting where necessary!

In [16]:
#code here

11. Can you identify and explain the errors in the following lines of code? Correct them please!

In [17]:
print("A message").
print("A message'')  
print('A message"')

SyntaxError: invalid syntax (492288062.py, line 1)

12. Calculate the surface of a circle with a radius of 6. The formula is radius times radius times pi (3.14159).

In [18]:
radius = 6
pi = 3.14159

#code here

13. Use Python as a calculator to calculate the number of seconds in seven years (in one line of code). Assign the output to a variable with a clear variable name. Print the result.

In [19]:
#code here

14. Assign a number to the variable 'temperature'. Make sure you can print the statement "it is [temperature] degrees today" using the variable.

In [20]:
temperature = 9

#code here

15. Can you write some code that swaps the values of these two variables? Hint: create an extra variable.

In [21]:
first_number = 3
second_number = 5

#code here

16. Can you explain why the first cell below runs, and the second doesn't. Change the cells to make sure the error no longer occurs.

In [22]:
brother = 'Hansel '
sister = 'Gretel'
siblings = brother + sister
siblings

'Hansel Gretel'

In [23]:
amount = 12
animals = ' monkeys'
movie_title = amount + animals
movie_title

TypeError: unsupported operand type(s) for +: 'int' and 'str'

17. Print the first_name and last_name variables you created in an earlier exercise using only one print statement.

In [24]:
#code here

18. Think about the output before running it. What do you think this cell will return?

In [26]:
x = 3
y = 15

b = y
y = x
x = b - 1

#print(b)
#print(y)
#print(x)

19. A bit of math. Add brackets to change the value of x so that the statement returns True.

In [27]:
x = 15 - 6 * 2 - 1 + 2

x == 0

False

20. There are 10 books that will be evenly divided among 3 students. Can you create a python cell to in which you calculate how many books will be left after the even division. TIP: look online to check what the % -operator does.

In [28]:
books = 10
students = 3
#code here

Bonus: can you try to recreate the previous exercise, without using the %-operator? Change the number of books to check if it worked.

In [29]:
#code here